@import 'constants';

.stickyNavigation {
  background-color: $white;
  color: $grey;
  box-shadow: 0 -2px 2px 2px rgba($grey, 0.4);
  padding-top: 8px;
  position: sticky;
  font-size: 12px;
  font-weight: 600;

  @media (max-width: 968px) {
    bottom: 0;
  }

  @media (min-width: 968px) {
    position: fixed;
    top: 40%;
    left: 0;
  }
}

.navList {
  display: flex;

  @media (min-width: 968px) {
    flex-direction: column;
    min-height: 240px;
    padding: 10px;
  }
  justify-content: space-around;
  align-items: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      margin-bottom: 4px;
      font-size: 16px;
    }
  }
}

.activeLink {
  color: $primary;

  &:hover {
    color: $primary;
  }
}
